---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$notice-background-mix: 80%;
$right-sidebar-width: 300px;
$right-sidebar-width-narrow: 200px; 
$max-width: 1440px; 
$mfp-iframe-max-width: 1280px;



@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero {
  max-height: 50vh;
  overflow: hidden;
}

.mfp-title {
  text-align: left;
  font-style:italic;
  color: #fff0f8;
}

.page__hero-image {
  width: 100%;
  max-height: inherit;
  object-fit: cover;
  object-position: center center;
}

.page__hero--overlay {
  min-height: 25vh;
}

video {
    /* override other styles to make responsive */
    max-width: 100%    !important;
    height: auto   !important;
  }

.new {
  display: inline-block;
  margin-top: 0.2em;
  padding: 0.2em 0.7em 0.2em;
  font-size: $type-size-5;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-style: ridge;
  border-color: rgba(0, 0, 139, 0.2);
  border-width: 3px;
  border-radius: 8px;
  background-color: rgba(0, 0, 139, 0.6);    
  color: yellow;
}

a img {
  box-shadow:4px 2px 6px #010101;
  border: none
} 

.sidebar img {
  max-width: 380px; 
}

.author__avatar img {
  max-width: 110px;
}

.cl {
  clear: both;
}

.vide {
  max-width: 720px;
}

.popvide {
  max-width: 640px;
}

.bott {
  
}



a.site-logo img{
  box-shadow: 0px 0px 0px #ffffff !important;
}


.tweet {
  display: inline-block;
  width: 33%;
  height: auto;
  padding: 0 5px 5px 5px;
}

.tweet:focus {
  order: 1;
}



.twr {
  float: right;
}

.jason {
  max-height: 220px;
  max-width: 200px;
}

.vidbox {
  max-height: 500px;
  max-width: 200px;  
}
.boxtease   {
  position: relative; 
  height: 180px;
}

.boxtease img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.minigal {
  display: inline-block;
  vertical-align: bottom;
}

.modcard {
  max-height: 240px;
  max-width: 360px;
}
a[href*="//"]:not([href*="masternotions.com"]) {

  &:not(.btn){
    color: #784580;
  }

  &:hover {
    color: #204060;
  }

  &.btn {
    color: #1d021f;

  }

  &.btn--light-outline {
    color: #ffbbf8;
  }
  
}

.tweetgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.sidebar {

  position:  static !important;
  max-height: 100% !important;
}



blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 500;
}

blockquote.twitter-tweet p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}


.pdfcontainer {
  position: relative;
  overflow: hidden;
  width: 100% !important;
  padding-top: 150%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
