---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$notice-background-mix: 80%;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials




video {
    /* override other styles to make responsive */
    max-width: 100%    !important;
    height: auto   !important;
  }

.new {
  display: inline-block;
  margin-top: 0.2em;
  padding: 0.3em 0.8em 0.3em;
  font-size: $type-size-5;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-style: ridge;
  border-color: black;
  border-width: 3px;
  border-radius: 8px;
  background-color: darkblue;    
  color: yellow;
}

a img {
  box-shadow:4px 2px 6px #010101;
  border: none
}

.cl {
  clear: both;
}

.vide {
  max-width: 720px;
}

a.site-logo img{
  box-shadow: 0px 0px 0px #ffffff !important;
}


.tweet {
  display: inline-block;
  width: 33%;
  height: auto;
  padding: 0 5px 5px 5px;
}

.twr {
  float: right;
}

.jason {
  max-height: 180px;
}




blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 9px;
  font-weight: bold;
  line-height: 14px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}

